{% extends 'twiter_bootstrap.html.twig' %}

{% block title %}
    Регистрация
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/signin.css"/>
{% endblock %}

{% block content %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="text-center">
            <h2>Change Password</h2>
        </div>
        <form class="form-base form-horizontal" method="post">
            <div class="form-group">
                <label for="oldPassword" class="col-sm-2 control-label no-padding-important text-left-important">Current
                    password</label>
                <div class="col-sm-10">
                    <input name="old_password" type="password" class="form-control" id="oldPassword"
                           placeholder="Your current password" required="">
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-sm-2 control-label no-padding-important text-left-important">New
                    password</label>
                <div class="col-sm-10">
                    <input name="new_password" type="password" class="form-control" id="newPassword"
                           placeholder="Your new password" required="">
                </div>
            </div>
            <div class="form-group">
                <label for="repeatNewPassword"
                       class="col-sm-2 control-label no-padding-important text-left-important"></label>
                <div class="col-sm-10">
                    <input name="repeat_new_password" type="password" class="form-control" id="repeatNewPassword"
                           placeholder="Repeat new password" required="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
