{% extends 'twiter_bootstrap.html.twig' %}

{% block title %}
    Default page
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/signin.css"/>
{% endblock %}

{% block content %}
    <div class="container">

        <form class="form-base" method="post" action="/login">
            <div class="text-center">
                <h2>Please, login</h2>
            </div>
            <label for="inputLogin">Username</label>
            <input name="login" type="text" id="inputLogin" class="form-control" placeholder="Your username" required autofocus>
            <label for="inputPassword">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Your password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <p class="text-center registration">
                or
                <strong>
                    <u>
                        <a href="/registration">create an account</a>
                    </u>
                </strong>
            </p>
        </form>

    </div>
{% endblock %}