{% extends 'twiter_bootstrap.html.twig' %}

{% block title %}
    Ошибка
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/signin.css"/>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Application Error.</h2>
        <h3>{{ error_message }}</h3>
    </div>
    <div class="text-center">
        <a href="/">Return</a>
    </div>
{% endblock %}
