{% extends 'twiter_bootstrap.html.twig' %}

{% block title %}
    Список файлов
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/signin.css"/>
{% endblock %}

{% block content %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="text-center">
            <h2>Upload</h2>
        </div>
        <div class="row">
            <div>
                <form enctype="multipart/form-data" method="post" class="form-base form-inline">
                  <div class="form-group">
                    <input name="file" type="file" id="inputFile">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="text-center">
                <h2>Files</h2>
            </div>
            <ul class="list-group form-base">
                {% for file in files %}
                    <li class="list-group-item">
                        <a href="/file/{{ file.id }}">
                            {{ file.name }}
                        </a>
                        <!-- Indicates a dangerous or potentially negative action -->
                        <a href="/file/remove/{{ file.id }}" class="pull-right text-danger">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
