<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Test</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/files">Files</a></li>
            <li><a href="/profile">Settings</a></li>
            <li><a href="/change-password">Change password</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
  </div>
</nav>
