{% extends 'twiter_bootstrap.html.twig' %}

{% block title %}
    Профиль
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/signin.css"/>
{% endblock %}

{% block content %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="text-center">
            <h2>Profile Settings</h2>
        </div>
        <div class="row">
            <div>
                <form class="form-base form-horizontal" method="post">
                    <div class="form-group">
                        <label for="inputLogin" class="col-sm-2 control-label no-padding-important text-left-important">Username</label>
                        <div class="col-sm-10">
                            <input name="login" type="text" class="form-control" id="inputLogin" placeholder="Your username" disabled="" value="{{ user.login }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label no-padding-important text-left-important">First name</label>
                        <div class="col-sm-10">
                            <input name="first_name" type="text" class="form-control" id="inputFirstName" placeholder="Your first name" required="" value="{{ user.firstName }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSurname" class="col-sm-2 control-label no-padding-important text-left-important">Last name</label>
                        <div class="col-sm-10">
                            <input name="surname" type="text" class="form-control" id="inputSurname" placeholder="Your last name" required="" value="{{ user.lastName }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label no-padding-important text-left-important">Email</label>
                        <div class="col-sm-10">
                            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Your email" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label no-padding-important text-left-important">Phone</label>
                        <div class="col-sm-10">
                            <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="Your phone"  value="{{ user.phone }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBirthday" class="col-sm-2 control-label no-padding-important text-left-important">Birthday</label>
                        <div class="col-sm-10">
                            <input name="birthday" type="date" class="form-control" id="inputBirthday" placeholder="Your birthday"  value="{{ user.birthday | date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
