{% extends 'twiter_bootstrap.html.twig' %}

{% block title %}
    Регистрация
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/signin.css"/>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Welcome!</h2>
    </div>
    <div class="text-center">
        <a href="/">Please, login</a>
    </div>
{% endblock %}
