body {
    padding-bottom: 40px;
    background-color: #eee;
}

.form-base {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.form-base .registration {
    margin-top: 25px;
    font-size: 18px;
}

.form-base .form-signin-heading,
.form-base .checkbox {
    margin-bottom: 10px;
}

.form-base .checkbox {
    font-weight: normal;
}

.form-base .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-base .form-control:focus {
    z-index: 2;
}

.form-base input[type="email"] {
    margin-bottom: -1px;
}

.form-base input[type="password"] {
    margin-bottom: 10px;
}